__pycache__/
*.py[cod]
.pytest_cache/
.venv/
build/
dist/
*.egg-info/
*.spec
*.iso
*.xiso
*.map
*.tar
*.tar.gz
!resources/licenses/sources/paramiko-4.0.0.tar.gz
*.log
hosts.json
.env
*.key
*.pem
*.reg
halo
libSDL3.so*
